# Ignore build directories
**/bin/
**/obj/


# User-specific files
**/*.user
**/*.userosscache
**/*.suo

# Debug
python/sample.ipynb
python/input/
python/output/

# Ignore third party
/poppler/

# VSCode settings
.vscode/

# Visual Studio temporary files
*.db
*.log
*.swp
*.swo

# JetBrains Rider or IntelliJ IDEA files
.idea/
